name: security testing SAST and DAST

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  sast-scan:
    runs-on: ubunut-latest
    steps:
       - name: Checkout code
         uses: actions/checkout@v4

       - name: Set up Python
         uses: actions/setup-python@v5
         with:
          python-version: 3.8

       - name: Install Bandit
         run: pip install bandit

       - name: Run Bandit Scan
         run: bandit -ll -ii -r . -f json -o bandit-report.json || true

       - name: Upload Bandit Report
         uses: actions/upload-artifact@v4
         if: always()
         with:
            name: bandit-findings
            path: bandit-report.json
  
